= render 'page'

.page_navigation
  - nav = page_surroundings(@page)
  .page_start
    - nav[:start] == nil ? status = "disabled" : status = ""
    = button_to 'Beginning', nav[:start], class: "btn #{status}"
  .page_last
    - nav[:last] == nil ? status = "disabled" : status = ""
    = button_to 'Last', nav[:last], class: "btn #{status}"
  .page_next
    - nav[:next] == nil ? status = "disabled" : status = ""
    = button_to 'Next', nav[:next], class: "btn #{status}"
  .page_end
    - nav[:end] == nil ? status = "disabled" : status = ""
    = button_to 'End', nav[:end], class: "btn #{status}"

.comments
  %h3 Page Discussion, Write a Comment!
  .fixed_form
    = render 'comments/new', commentable: @page
    
  - @total_rendered_comments = 0
  = render 'comments/index', commentable: @page, comment_level: 0

- if @page.user == current_user
  = link_to 'Edit', edit_page_path(@page), class: "btn"
  = link_to 'Back', pages_path, class: "btn"
